body{
  background-color: rgba(32, 32, 95, 0.671) ;
  color:black; 
  
}
#alaotsikko{
  width: 30%;
  margin:auto;
  background-color: red;
  text-align: center; 
} 
.ylaotsikko{
  background-color: pink;
  text-align: center;
  margin-bottom: 2%;
  padding: 10
}
.sisalto{
  text-align: center;
  background-color: pink;
  padding: 60
}
  ul{
    list-style: none;
  }